:root {
    --primary-color: rgb(8, 90, 8);
    --secondary-color: rgb(214, 223, 232);
    --accent1-color: rgb(214, 223, 232);
    --accent2-color: rgba(32, 144, 218, 0.194);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: auto;
}

body {
    font-family: var(--body-font);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    background-color: var(--accent2-color);
    height: 100px;
}

.grid-container2 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    border:rgb(23, 22, 22);
    align-content: stretch;
    flex-direction: row;
}

.grid-container3 {
    display: flex;
    flex-direction: column;
}

.img-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-h2 {
    display: flex;
    justify-content: center;
}

.grid-container3 img {
    width: 150px;
    height: auto;
}

.grid-container4 {
    display: flex;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: var(--accent2-color);
    width: auto;
    height: auto;
    flex-direction: column;
    align-content: stretch;
}

.grid-item1 {
    display: flex;
    justify-content: center;
}

.grid-item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.grid-item2 img {
    width: 150px;
    height: auto;
}
.image-caption {
    display: flex;
    justify-content: center;
}

.grid-container5 {
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: center;
    background-color: var(--accent2-color);
    height: 100px;
    flex-direction: row;
}

.grid-container8 {
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: center;
    background-color: var(--accent2-color);
    width: 1000px;
    height: 100px;
    flex-direction: row;
}

nav {
    justify-self: right;
    padding: 20px;
}

nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 150px;
    background-color:rgb(56, 180, 180);
 }

 .hero h2 {
    text-align: center;
    color:rgb(14, 13, 13); 
}

.grid-item1 h2 {
    font-family: var(--heading-font);
    color: rgb(18, 18, 18);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    width: 50px;
    height: auto;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.5;
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 350px;
    width: 95%;
    opacity: 0.7;
    background-color: var(--secondary-color);
    padding: 16px;
    color: rgb(20, 19, 19); 
}

.hero article img {
    display: block; 
    float: right;
    width: 50px;
    height: auto; 
    border: 1px solid rgb(0 0 0/10%);
    margin: 0 0 1rem 1rem;
}

.grid-container1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-template-rows: 1fr auto;
}

.grid-container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /*justify-content: flex-end;*/
    width: auto;
    align-content: stretch;
}

.grid-container7 {
    display: flex;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: var(--accent2-color);
    width: 1000px;
    height: auto;
    flex-direction: column;
    align-content: stretch;
}

.grid-item3 {
    display: flex;
    justify-content: center;
}

.grid-item4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.grid-item4 img {
    width: 150px;
    height: auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero1 h1 {
    
    top: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.5;
    
    color: var(--primary-color);
}

h3 {
   text-align: center;
}

/*.hero article {
    position: absolute;
    top: 350px;
    width: 95%;
    opacity: 0.7;
    padding: 16px;
    color: rgb(20, 19, 19);
}*/

.map iframe {
    width: 540px;
    height: 440px;
    border: 1px solid rgb(8, 90, 8);
    justify-content: flex-start;
    margin-left: 1px;

}

input,
textarea,
select {
    width: 450px;
    height: 30px;
    padding: 0;
    margin: 1px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 450px;
    height: 30px;
    background-color: navy;
    color: white;
    align-self: center;
}

input[type="radio"].small-radio {
    width: 10px;
    height: 10px;
    accent-color: #007fff;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #007fff;
}

