:root {
    --primary-color: #055a05;/*forest green*/
    --secondary-color: yellowgreen;/*#f4a261; warm sand*/
    --accent1-color: #264653;/*dark slate blue*/
    --accent2-color: #e9c46a;/*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: auto;
    /*margin-left: 1px;*/
    /*float: right;*/
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    /* Creates 2 columns: left automatically sizes to the logo, right takes up remaining space */
    grid-template-columns: auto 1fr;
    /* Vertically centers both the logo and nav links */
    align-items: center;
    /* Adds a 20px gap between the logo and navigation */
    /*align-content: center;*/
    gap: 20px;
    /*justify-content: flex-end;*/
    background-color: goldenrod;
    height: 100px;
}

.grid-container2 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    background-color:aliceblue;
    padding: 10px;
    border:#264653;
    align-content: stretch;
    flex-direction: row;
}

.grid-container3 {
    display: flex;
    flex-direction: column;
}

.img-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-h2 {
    display: flex;
    justify-content: center;
}

.grid-container3 img {
    width: 150px;
    height: auto;
}

.grid-container4 {
    display: flex;/*grid;*/
    grid-template-rows: 1fr 1fr;
    /*align-items: center;*/
    /*align-content: center;*/
    gap: 20px;
    background-color: rgba(32, 144, 218, 0.194);
    width: auto;
    height: auto;
    /*flex-flow: row wrap;*/
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-content: stretch;
}

.grid-item1 {
    display: flex;
    justify-content: center;
}

.grid-item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.image-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.grid-item2 img {
    width: 150px;
    height: auto;
}
.image-caption {
    display: flex;
    justify-content: center;
}

/*.grid-item3 {
    display: flex;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 1px;
    margin-left: 10px;
}
*/
.grid-container5 {
    display: flex;
    /*grid;*/
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: center;
    /*gap: 20px;*/
    background-color: goldenrod;
    height: 100px;
    /*flex-flow: row wrap;*/
    flex-direction: row;
    /*justify-content: flex-end;*/
}

/* Optional helper to align your navigation menu to the far right */
nav {
    justify-self: right;
    padding: 20px;
    /*flex-direction: row-reverse;*/
    /*justify-content: space-between;*/
    /*flex-direction: row;*/
}

/* Optional styling to lay out the list items horizontally */
nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 150px;
    background-color:azure;
    /*width: 100px;*/
    /*align-content: space-between;*/
    /* Adds space between each link */  
}


.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
} 

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    width: 50px;
    height: auto;
    text-decoration: none;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.5;
    background-color: var(--accent2-color);
    /* background-color: var(--secondary-color);  */
    color: black;
}

.hero article {
    position: absolute;
    top: 350px;
    width: 95%;
    /* position: absolute; */
    opacity: 0.7;
    background-color: rgb(0, 76, 255);
    /* background-color: var(--secondary-color); */
    /* background-color: var(--accent2-color); this was not there */
    padding: 16px;/*this was not there*/
    color: yellow;
}

.hero article img {
    display: block; /*this was not there*/
    float: right;
    width: 80px;
    height: auto; /*this was not there*/
    border: 1px solid rgb(0 0 0/10%);
    margin: 0 0 1rem 1rem;
}

h2{
    /* position: absolute; */
    /*top: 20px;*/
    /*width: 100%;*/
    /*padding: 16px;*/
    /*text-align: center;*/
    /*opacity: 0.7;*/
    /*background-color: var(--secondary-color);*/
    color: black;
}