:root {
    --primary-color: rgb(8, 90, 8);
    --secondary-color: rgb(214, 223, 232);
    --accent1-color: rgb(214, 223, 232);
    --accent2-color: rgba(32, 144, 218, 0.194);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: auto;
}

body {
    font-family: var(--body-font);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    background-color: var(--accent2-color);
    height: 100px;
}

.grid-container2 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    border:rgb(23, 22, 22);
    align-content: stretch;
    flex-direction: row;
}

.grid-container3 {
    display: flex;
    flex-direction: column;
}

.img-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-h2 {
    display: flex;
    justify-content: center;
}

.grid-container3 img {
    width: 150px;
    height: auto;
}

.grid-container4 {
    display: flex;/*grid;*/
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: var(--accent2-color);
    width: auto;
    height: auto;
    flex-direction: column;
    align-content: stretch;
}

.grid-item1 {
    display: flex;
    justify-content: center;
}

.grid-item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.grid-item2 img {
    width: 150px;
    height: auto;
}
.image-caption {
    display: flex;
    justify-content: center;
}

.grid-container5 {
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: center;
    background-color: var(--accent2-color);
    height: 100px;
    flex-direction: row;
}

/* Optional helper to align your navigation menu to the far right */
nav {
    justify-self: right;
    padding: 20px;
}

/* Optional styling to lay out the list items horizontally */
nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 150px;
    background-color:rgb(56, 180, 180);
    
}


.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
} 

.hero h2 {
    text-align: center;
    color:rgb(14, 13, 13); 
}

.grid-h2 h2 {
    font-family: var(--heading-font);
    color: rgb(20, 20, 20);
}

.grid-item1 h2 {
    font-family: var(--heading-font);
    color: rgb(18, 18, 18);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    width: 50px;
    height: auto;
    text-decoration: none;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.5;
    background-color: var(--accent1-color); 
}

.hero article {
    position: absolute;
    top: 350px;
    width: 95%;
    opacity: 0.7;
    background-color: var(--secondary-color);
    padding: 16px;
    color: rgb(20, 19, 19); 
}

.hero article img {
    display: block; 
    float: right;
    width: 50px;
    height: auto; 
    border: 1px solid rgb(0 0 0/10%);
    margin: 0 0 1rem 1rem;
}
